
<table>
  <tr>
    <th>Name</th>
    <th>Role</th>
  </tr>
  <h4>Logged is as <%=User.find(@logged_in).name%></h4>
  <td><h2><%= link_to 'Show', User.find(@logged_in) %></h2></td>


<% @users.each do |user| %>
  <tr>
    <td><%=h user.name %></td>
    <td><%=h user.role %></td>
    <td>  <%= link_to "Add Pair", friendships_path(:friend_id => user), :method => :post %> </td>


  <!--  <td><!%= link_to 'Show', user %></td>
    <td><!%= link_to 'Edit', edit_user_path(user) %></td>
    <td><!%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>-->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>