<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Role:</b>
  <%=h @user.role %>
</p>


<h2>Friends</h2>
<ul>
<% for user in @user.friends %>
   <li>
     <%=h user.name %>
      </li>

 <% end %>
</ul>




<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>