<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Role:</b>
  <%=h @user.role %>
</p>


<h2>Pairs</h2>


<ul>
<% for user in @user.friendships %>
   <li>
     <%=h User.find(user.friend_id).name %>
      <%=h User.find(user.friend_id).created_at %>

      </li>

 <% end %>
</ul>




<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>